<nav>
    <ul>
        <li> <a href="/payments"> Payments </a> </li>
        <li> <a href="/addCard"> Add card </a> </li>
        <li> <a href="/attendance"> Attendance </a> </li>
        <li> <a href="/details"> Student details </a> </li>
        <li> <a href="/library"> Library </a> </li>
        <li> <a href="/addAmount"> Add Amount </a> </li>
    </ul>
</nav>